.movieCard{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.movieInfo {
  background-color: transparent;
  padding: 0;
  padding-top: 10px;
}

.movieTitle {
  font-size: 1.5rem;
}

.movieDetails{
  color: #828282;
  
}