$light-shade: #f6f6f6;
$light-accent: #C293B5;
$main-brand-color: #7F53D2;
$dark-accent: #8F6D96;
$dark-shade: #4C475E;

:export {
  main-brand-color: $main-brand-color
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $light-shade !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header */

.nav-custom > .btn {
  outline: none;
  padding: 0px; 
  border: 0px; 
  box-sizing: none; 
  background-color: transparent;  
}

.nav-link, .nav-custom > .btn,  .cinema-dropdown-button > .btn, .profile-dropdown-button > .btn {
  background-color: $light-accent;
  border-radius: 10px;
  margin: 0.5rem;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 .5rem 1rem rgba($light-accent, .4);
  transition: all 0.5s cubic-bezier(.645,.045,.355,1);
  font-size: 1.3rem;
  color: #ffffff !important;
  border-color: $light-accent;
  text-align: center;
}

.nav-link:focus,
.nav-link.active  {
  background-color: rgba($main-brand-color, 0.9);
  box-shadow: 0 .5rem 1rem rgba($main-brand-color, .5);
}

.nav-link:active,
.nav-custom > .btn:focus,
.nav-custom > .btn:active {    
  outline: 0;
  background-color: $light-accent;
  box-shadow: 0 .5rem 1rem rgba($light-accent, .5);
}

.nav-link:hover,
.nav-custom > .btn:hover,
.open>.dropdown-toggle.nav-custom > .btn {
  box-shadow: 0 0 0 0.25rem rgba($main-brand-color, 0.6);
  background-color:  $main-brand-color;
  border-color: $light-accent; /*set the color you want here*/
}

/* Login modal */
.or {
  display:flex;
  justify-content:center;
  align-items: center;
  color:grey;
}

.or:after,
.or:before {
  content: "";
  display: block;
  background: grey;
  width: 100%;
  height:1px;
  margin: 0 10px;
}

.modal-login {
  max-width: 400px !important;
  margin: 1.75rem auto;
}

.modal-content{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.modal-header{
  padding: 0 !important;
}

// .btn-close {
//   position: absolute;
//   right: -1rem;
//   top: -1rem;
// }

.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left; 
  line-height: 24px;  
       
}
.social-btn .btn i {
  float: left;
  margin: 4px 15px  0 5px;
  min-width: 15px;
}
.input-group-addon .fa{
  font-size: 18px;
}

.login-form .hint-text {
  color: #777;
  padding-bottom: 15px;
  text-align: center;
}
.forgot-password {  
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative;
  justify-content: right;   
}

.forgot-password .btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  outline: inherit;
  vertical-align: unset;
  text-decoration: none;
}


.sign-up-link {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
}

.sign-up-link .btn{
  all: unset;
  margin-left: 10px;
}

// .movie-info {
//   background-color: transparent !important;
// }

// .movie-title {
//   font-size: 5rem;
// }




/* Items */

// .item-header {
//   margin-bottom: 1rem;
// }

// .item-row { 
//   margin-top: 1rem;
//   margin-bottom: 1rem;
//   border-radius: 0.5rem;
//   box-shadow: 0rem .3rem 1rem rgba($light-accent, 0.1);  

// }

// .item-row .col {
//   display:flex;
//   align-items:center;
  
// }

// .col:nth-child(odd) {
//   padding-top: 10px;
//   padding-bottom: 10px;
//   background-color: rgba($light-accent, .3);
// }

// .col:nth-child(even) {
//   padding-top: 10px;
//   padding-bottom: 10px;
//   background-color: rgba($light-accent, .2);
// }

// .col:first-child{
//   padding-left: 1rem;
//   border-top-left-radius: 0.5rem;
//   border-bottom-left-radius: 0.5rem;
// }

// .col:last-child{
//   padding-right: 1rem;
//   border-top-right-radius: 0.5rem;
//   border-bottom-right-radius: 0.5rem;
// }





// .sidebar {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   min-height: 100vh !important;
//   z-index: 100;
//   padding: 48px 0 0;
//   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
// }
// #sidebar-wrapper{
//   min-height: 100vh !important;
//   width: 100vw;
//   margin-left: -1rem;
//   -webkit-transition: margin .25s ease-out;
//   -moz-transition: margin .25s ease-out;
//   -o-transition: margin .25s ease-out;
//   transition: margin .25s ease-out;
// }
// #sidebar-wrapper .sidebar-heading {
//   padding: 0.875rem 1.25rem;
//   font-size: 1.2rem;
// }

// #page-content-wrapper {
//   min-width: 0;
//   width: 100%;
// }
