html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgba(248,248,250) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header */

.nav-custom > .btn {
  outline: none;
  padding: 0px; 
  border: 0px; 
  box-sizing: none; 
  background-color: transparent;  
}

.nav-link, .nav-custom > .btn {
  background-color: rgb(232, 110, 142);
  border-radius: 10px;
  margin: 0.5rem;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 .5rem 1rem rgba(232, 110, 142, .4);
  transition: all 0.5s cubic-bezier(.645,.045,.355,1);
  font-size: 1.3rem;
  color: #ffffff !important;
  border-color: rgb(232, 110, 142);
  text-align: center;
}

.nav-link:focus,
.nav-link.active  {
  background-color: rgba(99,86,154, 0.6);
  box-shadow: 0 .5rem 1rem rgba(99,86,154, .4);
}

.nav-link:active,
.nav-custom > .btn:focus,
.nav-custom > .btn:active {    
  outline: 0;
  background-color: rgb(232, 110, 142);
  box-shadow: 0 .5rem 1rem rgba(232, 110, 142, .4);
}

.nav-link:hover,
.nav-custom > .btn:hover,
.open>.dropdown-toggle.nav-custom > .btn {
  box-shadow: 0 0 0 0.25rem rgba(99,86,154, 0.6);
  background-color:  rgb(99,86,154);
  border-color: rgb(232, 110, 142); /*set the color you want here*/
}

/* Login modal */
.or {
  display:flex;
  justify-content:center;
  align-items: center;
  color:grey;
}

.or:after,
.or:before {
  content: "";
  display: block;
  background: grey;
  width: 100%;
  height:1px;
  margin: 0 10px;
}

.modal-login {
  max-width: 400px !important;
  margin: 1.75rem auto;
}

.modal-content{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.modal-header{
  padding: 0 !important;
}

.btn-close {
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left; 
  line-height: 24px;  
       
}
.social-btn .btn i {
  float: left;
  margin: 4px 15px  0 5px;
  min-width: 15px;
}
.input-group-addon .fa{
  font-size: 18px;
}

.login-form .hint-text {
  color: #777;
  padding-bottom: 15px;
  text-align: center;
}
.forgot-password {  
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative;
  justify-content: right;   
}

.forgot-password .btn {
  background: none;
color: inherit;
border: none;
padding: 0;
font-size: 14px;
cursor: pointer;
outline: inherit;
  vertical-align: unset;
  text-decoration: none;
}


.sign-up-link {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
}

.sign-up-link .btn{
  all: unset;
  margin-left: 10px;
}